@*@using System.Activities.Statements
@using ASP.NET_Project.ViewModels

@model IEnumerable<ASP.NET_Project.ViewModels.ProductViewModel>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

    @*<section class="customer-feedback" id="feedback-section">
        <div class="row">
            <div class="col-12 text-center py-5">
                <h2>What our customers have to say</h2>
                <h6 class="section-subtitle text-muted m-0">Lorem ipsum dolor sit amet, tincidunt vestibulum.</h6>
            </div>
            @if (Model.Any())
            {
                <div class="owl-carousel owl-theme grid-margin">
                    @foreach (var item in Model)
                    {
                        <div class="card customer-cards">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="https://res.cloudinary.com/senbonzakura/image/upload/c_scale,w_100/v1573643062/images/product/product_qisxsg.png" width="89" height="89" alt="" class="img-customer">
                                    <p class="m-0 py-3 text-muted">@Html.DisplayFor(modelItem => item.CateName)</p>
                                    <div class="content-divider m-auto"></div>
                                    <h6 class="card-title pt-3">@Html.DisplayFor(modelItem => item.Name) $@Html.DisplayFor(modelItem => item.Price)</h6>
                                    <h6 class="customer-designation text-muted m-0">@Html.DisplayFor(modelItem => item.BrandName)</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div>
                    Empty
                </div>
            }

        </div>
    </section>
<section class="features-overview" id="features-section">
    <div class="content-header">
        <h2>How does it works</h2>
        <h6 class="section-subtitle text-muted">One theme that serves as an easy-to-use operational toolkit<br>that meets customer's needs.</h6>
    </div>
    <div class="d-md-flex justify-content-between">
        <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
                <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344224/images/LandingPage/Group12_twqx1q.svg" alt="" class="img-icons">
                <h5 class="py-3">Speed<br>Optimisation</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <a href="#"><p class="readmore-link">Read more</p></a>
            </div>
        </div>
        <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
                <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344225/images/LandingPage/Group7_n6xqek.svg" alt="" class="img-icons">
                <h5 class="py-3">SEO and<br>Back links</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <a href="#"><p class="readmore-link">Read more</p></a>
            </div>
        </div>
        <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
                <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344224/images/LandingPage/Group5_fqwfal.svg" alt="" class="img-icons">
                <h5 class="py-3">Content<br>Marketing</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <a href="#"><p class="readmore-link">Read more</p></a>
            </div>
        </div>
    </div>
</section>
<section class="digital-marketing-service" id="digital-marketing-section">
    <div class="row align-items-center">
        <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">We Offer a Full Range<br>of Digital Marketing Services!</h3>
            <div class="col-lg-7 col-xl-6 p-0">
                <p class="py-4 m-0 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <p class="font-weight-medium text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer</p>
            </div>
        </div>
        <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344224/images/LandingPage/Group1_zkmysp.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
            <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344224/images/LandingPage/Group2_dyekyu.png" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
            <h3 class="m-0">Leading Digital Agency<br>for  Business Solution.</h3>
            <div class="col-lg-9 col-xl-8 p-0">
                <p class="py-4 m-0 text-muted">Power-packed with impressive features and well-optimized, this template is designed to provide the best performance in all circumstances.</p>
                <p class="pb-2 font-weight-medium text-muted">Its smart features make it a powerful stand-alone website building tool.</p>
            </div>
            <button class="btn btn-info">Read more</button>
        </div>
    </div>
</section>
<section class="case-studies" id="case-studies-section">
    <div class="row grid-margin">
        <div class="col-12 text-center pb-5">
            <h2>Our case studies</h2>
            <h6 class="section-subtitle text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum.</h6>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
                <div class="card-body p-0">
                    <div class="bg-primary text-center card-contents">
                        <div class="card-image">
                            <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344225/images/LandingPage/Group95_xhgain.svg" class="case-studies-card-img" alt="">
                        </div>
                        <div class="card-desc-box d-flex align-items-center justify-content-around">
                            <div>
                                <h6 class="text-white pb-2 px-3">Know more about Online marketing</h6>
                                <button class="btn btn-white">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-details text-center pt-4">
                        <h6 class="m-0 pb-1">Online Marketing</h6>
                        <p>Seo, Marketing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
                <div class="card-body p-0">
                    <div class="bg-warning text-center card-contents">
                        <div class="card-image">
                            <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344225/images/LandingPage/Group108_u6fim7.svg" class="case-studies-card-img" alt="">
                        </div>
                        <div class="card-desc-box d-flex align-items-center justify-content-around">
                            <div>
                                <h6 class="text-white pb-2 px-3">Know more about Web Development</h6>
                                <button class="btn btn-white">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-details text-center pt-4">
                        <h6 class="m-0 pb-1">Web Development</h6>
                        <p>Developing, Designing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="card color-cards">
                <div class="card-body p-0">
                    <div class="bg-violet text-center card-contents">
                        <div class="card-image">
                            <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344222/images/LandingPage/Group126_qv3kqw.svg" class="case-studies-card-img" alt="">
                        </div>
                        <div class="card-desc-box d-flex align-items-center justify-content-around">
                            <div>
                                <h6 class="text-white pb-2 px-3">Know more about Web Designing</h6>
                                <button class="btn btn-white">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-details text-center pt-4">
                        <h6 class="m-0 pb-1">Web Designing</h6>
                        <p>Designing, Developing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card" data-aos="zoom-in" data-aos-delay="600">
            <div class="card color-cards">
                <div class="card-body p-0">
                    <div class="bg-success text-center card-contents">
                        <div class="card-image">
                            <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344222/images/LandingPage/Group115_y0qpml.svg" class="case-studies-card-img" alt="">
                        </div>
                        <div class="card-desc-box d-flex align-items-center justify-content-around">
                            <div>
                                <h6 class="text-white pb-2 px-3">Know more about Software Development</h6>
                                <button class="btn btn-white">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-details text-center pt-4">
                        <h6 class="m-0 pb-1">Software Development</h6>
                        <p>Developing, Designing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Email-1">Email</label>
                        <input type="email" class="form-control" id="Email-1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="Message">Message</label>
                        <textarea class="form-control" id="Message" placeholder="Enter your Message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>*@