@*@using System.Activities.Statements
@using ASP.NET_Project.ViewModels

@model IEnumerable<ASP.NET_Project.ViewModels.ProductViewModel>*@

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}
@*<section class="customer-feedback" id="feedback-section">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 grid-margin stretch-card">
                <div class="card customer-cards">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="https://res.cloudinary.com/senbonzakura/image/upload/c_scale,w_100/v1573643062/images/product/product_qisxsg.png" width="89" height="89" alt="" class="img-customer">
                            <p class="m-0 py-3 text-muted">@Html.DisplayFor(modelItem => item.CateName)</p>
                            <div class="content-divider m-auto"></div>
                            <h6 class="card-title pt-3">@Html.DisplayFor(modelItem => item.Name)</h6>
                            <h5 class="text-danger">$@Html.DisplayFor(modelItem => item.Price)</h5>
                            <h6 class="customer-designation text-muted m-0">@Html.DisplayFor(modelItem => item.BrandName)</h6>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>*@
    




